extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = '국가별 긴급 연락처';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'

append css
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', crossorigin='anonymous')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=', crossorigin='anonymous')
    link(href='assets/css/contactDetail.css', rel='stylesheet')

block content
    section.ftco-section.ftco-faqs
        .container
            .heading-section.mb-4.mt-5.mt-lg-0.section-title
                h2#countryName.mb-3 Nigeria
            .row
                .col-lg-6.order-md-last.mb-4
                .col-lg-12
                    #accordion.myaccordion.w-100.bg-white(aria-multiselectable='true' style='border-radius: 10px; padding: 5%')
                        div
                            h3.tit 대사관 연락처
                            |  ㅇ 주소 : No.9 Ovia cresent, Off Pope John Paul Ⅱ street, Off Gana street, Maitama, Abuja
                            br
                            |  ㅇ 이메일 :
                            a(href='mailto:emb-ng@mofa.go.kr') emb-ng@mofa.go.kr
                            br
                            |  ㅇ 대표번호(근무시간 중) : (234) 810-389-0991
                            br
                            |  ㅇ 긴급연락처(사건사고 등 긴급상황 발생 시, 24시간) : (234) 809-998-1726
                            br
                            img(title='나이지리아 대사관 약도' style='BORDER-TOP: rgb(0,0,0) 0px solid; BORDER-RIGHT: rgb(0,0,0) 0px solid; VERTICAL-ALIGN: baseline; BORDER-BOTTOM: rgb(0,0,0) 0px solid; BORDER-LEFT: rgb(0,0,0) 0px solid' alt='나이지리아 대사관 약도' src='https://www.0404.go.kr/images/editor/images/000007/Nigeria-mofa_1.jpg')
                            br
                            br
                            h3.tit 라고스 분관 연락처
                            |  ㅇ 주소 : Plot 10A&B Layi Ajayi Bembe Street, Parkview Estate, Ikoyi, Lagos
                            br
                            |  ㅇ 이메일 :
                            a(href='mailto:koremb_lagos@mofa.go.kr') koremb_lagos@mofa.go.kr
                            br
                            |  ㅇ 대표번호(근무시간 중) : +(234) 1-271-6295, +(234) 808-505-0501
                            br
                            |  ㅇ 긴급연락처(사건사고 등 긴급상황 발생 시, 24시간) : +(234) 906-877-4619
                            br
                            img(title='나이지리아라고스분관 약도' style='BORDER-TOP: rgb(0,0,0) 0px solid; BORDER-RIGHT: rgb(0,0,0) 0px solid; VERTICAL-ALIGN: baseline; BORDER-BOTTOM: rgb(0,0,0) 0px solid; BORDER-LEFT: rgb(0,0,0) 0px solid' alt='나이지리아라고스분관 약도' src='https://www.0404.go.kr/images/editor/images/000007/Nigeria-mofa2.jpg')
                            br
                            br
                            h3.tit 주재국 신고
                            |  ㅇ 경찰 / 소방 / 웅급구호 긴급연락처 112
                            br
                            |  ㅇ 지방의 경우 열악한 통신사정으로 긴급전화가 불통될 수 있으므로, 지방정부 단위 긴급연락처(휴대전화 번호)를 사전 확인하는 것이 필요합니다.
                            br
                            br
                            h3.tit 의료기관 연락처
                            |  ㅇ 나이지리아의 경우 의료시설이 매우 열악하나 아래 병원에서 기본적인 응급조치는 가능합니다.
                            br
                            |  [아부자]
                            br
                            |  ㅇ Nizamiye Hospital : 0816-666-6023
                            br
                            |  ㅇ Dr Hassan's clinic : 0706-686-2500, 0810-368-5559
                            br
                            br
                            |  [라고스]
                            br
                            |  ㅇ Reddington Hospital : 01-271-5341(앰뷸런스 이용 가능)
                            br
                            |  ㅇ St. Francis Hospital : 01-269-2305
                            br
                            |  ㅇ St. Nicholas Hospital : 01-260-0070
                            br
                            p(style='margin-left: 15px; margin-right: 15px;') ※ 말라리아 예방약 등 가정상비약은 약국에서 구매할 수 있으며, 약국은 주요 시설 및 호텔 내에서 찾으실 수 있습니다.

append scripts
    script(src='js/contactDetail.js')
    //script(src='js/cors.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
